body {
  background-color: black;
  text-align: center;
}
h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: White;
  text-align: center;
}
a {
  color: Aquamarine;
  font-size: 16px;
}
h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: White;
  text-align: center;
}
p {
  font-family: Verdana;
  font-size: 21px;
  color: White;
}
footer {
  text-align: right;
  font-size: 21px;
  color: Gray;
}
